<header>
  <div class="container">
    <h1>SENAI KEEP</h1>
    <form id="busca" (submit)="buscar()">
      <input type="text" placeholder="Pesquisar tarefa" class="full" name="busca" [(ngModel)]="textBusca">
    </form>
    <div id="atualizacao">
      <div>
        <p>Última atualização</p>
        <span id="hora">{{atualizacao}}</span>
      </div>
      <button class="btn" (click)="atualizar()"><img src="assets/images/att.png" alt="atualizar"></button>
    </div>
    <button class="btn" (click)="logout()">sair</button>
  </div>
</header>
